*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    overflow: hidden;
}
.banner-container{
    width:100%;
    height:100vh;
    padding:0 4rem;
}
.logo{
    width:40px;
    height:40px; 
    position:absolute;
    top:15px;
}
.logo img {
    width:100%;
    height:100%;
}
.container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;

}
.settings{  
    align-self: flex-end; 
    width:220px;
    height:48px;
    background-color: aliceblue;
}
.game-section{
    width:100%;
    height:50%;
    /* background-color:yellow; */
    display: flex;
    justify-content: space-evenly;
    position:relative;
}
.win-title{
    width:200px;
    height:75%;
    /* background-color: aqua; */
    position:absolute;
    top:26px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#win-display{
    width:100%;
    text-align: center;
    font-size: 50px;
    background-color: #fff;
}
.vs{
    width:100%;
    height:100%;
    /* background-image: url(/vs_currect-removebg-preview.png); */
    background-position: center;
}
.vs img{
    object-fit: cover;
}
.right ,.left{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

}
.right > * , .left > *{
    margin-bottom:15px;
}
.game-display{
    width:188px;
    height:188px;
    margin-bottom:2rem;
    /* border:1px solid black; */
}
#playerDisplay,#computerDisplay{
    width:100%;
    height:100%;
    /* background-image:url(/stone-transformed.jpeg); */
    background-size: contain;
}

.score-box{
    width:280px;
    height:40px;
    border:1px solid grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* reset btn */
.resetBtn{
    align-self: flex-end;
    font-weight: 600;
    font-size: large;
    font-family: monospace;
    background-color: red;
    padding:10px 43px;
    color: white;
    border:none;
    cursor: pointer;
}
.buttons{
    width:100%;
    min-height: 3rem;
    /* background-color: blueviolet; */
    display: flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.rpsButton{
    width:138px;
    height:138px;
    /* border: 1px solid black; */
    line-height: 158px;
    border-radius:50px;
    background-size: contain;
}
.rpsButton:nth-child(1){
    background-image: url(./images/stone.jpg);
}
.rpsButton:nth-child(2){
    margin: 0 70px;
    background-image: url(./images/paper.jpg);
}
.rpsButton:nth-child(3){
    background-image:url(./images/SCISSORS.jpg);
}